<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>리뷰 등록하기</h1>
<hr>

<form action="" method="POST">
    <table>
        <tr>
            <td><input type="text" name="uid" placeholder="유저 별명을 입력해주세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="content" placeholder="리뷰 내용을 입력해주세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="score" placeholder="별점을 등록해주세요.(ex. 5점)"></td>
        </tr>
    </table>
    <input type="submit" value="등록하기">
</form>
</body>
</html>